{{#if enabled}}
  {{#if stats}}
    <table class='tbl spam-stats'>
      <tr>
        <th>{{i18n "nntp_bridge.stats.scanned"}}</th>
        <th>{{i18n "nntp_bridge.stats.needs_review"}}</th>
        <th>{{i18n "nntp_bridge.stats.confirmed_spam"}}</th>
        <th>{{i18n "nntp_bridge.stats.confirmed_ham"}}</th>
      </tr>
      <tr>
        <td>{{stats.scanned}}</td>
        <td>{{stats.needs_review}}</td>
        <td>{{stats.confirmed_spam}}</td>
        <td>{{stats.confirmed_ham}}</td>
      </tr>
    </table>
  {{/if}}

  {{#if currentUser.admin}}
    {{d-button label="admin.plugins.change_settings" icon="gear" class='settings-button' action="showSettings"}}
  {{/if}}

  {{d-button action="refresh" icon="refresh" class="btn-primary" label="nntp_bridge.refresh" disabled=performingAction}}

  {{#if length}}
    <h3 class='review-queue'>{{i18n "nntp_bridge.posts_to_review"}}</h3>

    <div class="row">
      <table class='akismet-queue'>
        <tbody>
        {{#each post in model}}
          <tr>
            <td class="cooked">

              <div class='post-info'>
                {{#link-to 'adminUser' post.user_id post.username}}{{avatar post imageSize="small"}} {{post.username}}{{/link-to}}
                <a {{bind-attr href="post.url"}} target="_blank" class="post-link">#{{post.id}}</a>
              </div>
              {{{post.cooked}}}
              <div class="queue-actions">
                {{d-button action="confirmSpamPost"
                              actionParam=post
                              icon="check"
                              class="btn-primary"
                              label="nntp_bridge.confirm_spam"
                              disabled=performingAction}}

                {{d-button action="allowPost"
                              actionParam=post
                              icon="thumbs-o-up"
                              label="nntp_bridge.not_spam"
                              disabled=performingAction}}

                {{d-button action="dismiss"
                              actionParam=post
                              icon="times"
                              label="nntp_bridge.dismiss"
                              disabled=performingAction}}


                {{#if post.user_id}}
                  {{d-button action="deleteUser"
                                actionParam=post
                                icon="trash-o"
                                class="btn-danger"
                                label="nntp_bridge.confirm_delete"
                                disabled=performingAction}}
                {{/if}}
              </div>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
{{else}}
  {{#if currentUser.admin}}
    {{d-button label="nntp_bridge.change_settings" icon="gear" class='settings-button' action="showSettings"}}
  {{/if}}
  {{{i18n "nntp_bridge.not_enabled"}}}
{{/if}}
